astroid==3.3.11
autopep8==2.3.2
certifi==2025.10.5
charset-normalizer==3.4.3
dill==0.4.0
idna==3.10
isort==5.13.2
lazy-object-proxy==1.12.0
lxml==6.0.1
mccabe==0.7.0
Pillow==11.3.0
platformdirs==4.5.0
pycodestyle==2.12.1
pylint==3.3.2
filetype==1.2.0
python-pptx==1.0.2
pytz==2025.2
requests==2.32.5
tomlkit==0.13.3
urllib3==2.5.0
wrapt==1.17.3
XlsxWriter==3.2.9
