astroid==3.3.11
autopep8==2.3.1
certifi==2025.8.3
charset-normalizer==3.4.0
dill==0.3.9
idna==3.10
isort==5.13.2
lazy-object-proxy==1.10.0
lxml==5.3.0
mccabe==0.7.0
Pillow==11.0.0
platformdirs==4.3.6
pycodestyle==2.12.1
pylint==3.3.2
python-magic==0.4.27
python-magic-bin==0.4.14
python-pptx==1.0.2
pytz==2024.2
requests==2.32.3
tomlkit==0.13.2
urllib3==2.2.3
wrapt==1.17.0
XlsxWriter==3.2.0
